@define-color base_color #eff0f9;
@define-color text_color #2d303d;
@define-color bg_color #e9e7e1;
@define-color fg_color #202126;
@define-color selected_bg_color #40bfff;
@define-color selected_fg_color #202126;
@define-color selected_borders_color rgba(64, 191, 255, 0.7);
@define-color borders_color rgba(32, 33, 38, 0.80);
@define-color alt_borders_color rgba(32, 33, 38, 0.89);
@define-color borders_edge rgba(32, 33, 38, 0.50);
@define-color link_color #40bfff;
@define-color link_visited_color #ae94f9;
@define-color top_hilight rgba(32, 33, 38, 0.50);
@define-color dark_fill rgba(32, 33, 38, 0.70);
@define-color headerbar_bg_color #e9e7e1;
@define-color menu_color #e9e7e1;
@define-color menu_selected_color #40bfff;
@define-color scrollbar_bg_color rgba(239, 240, 249, 0.7);
@define-color scrollbar_slider_color rgba(45, 48, 61, 0.7);
@define-color scrollbar_slider_hover_color rgba(45, 48, 61, 0.89);
@define-color scrollbar_slider_active_color #40bfff;
@define-color warning_color #ffdc2d;
@define-color error_color #ff661a;
@define-color success_color #19f988;
@define-color destructive_color #ff661a;
@define-color osd_fg_color #202126;
@define-color osd_text_color #202126;
@define-color osd_bg_color rgba(233, 231, 225, 0.7);
@define-color osd_insensitive_bg_color rgba(233, 231, 225, 0.5);
@define-color osd_insensitive_fg_color #202126;
@define-color osd_borders_color rgba(32, 33, 38, 0.7);
@define-color sidebar_bg_color #eff0f9;
@define-color tooltip_borders_color rgba(32, 33, 38, 0.1);
@define-color shadow_color rgba(0, 0, 0, 0.1);
@define-color drop_target_color #2ec27e;
@define-color insensitive_fg_color rgba(32, 33, 38, 0.50);
@define-color insensitive_bg_color rgba(233, 231, 225, 0.50);
@define-color insensitive_borders_color rgba(32, 33, 38, 0.70);
@define-color backdrop_base_color rgba(239, 240, 249, 0.89);
@define-color backdrop_text_color rgba(45, 48, 61, 0.89);
@define-color backdrop_bg_color rgba(233, 231, 225, 0.89);
@define-color backdrop_fg_color rgba(32, 33, 38, 0.89);
@define-color window_bg_color #e9e7e1;
@define-color window_fg_color #202126;
@define-color backdrop_insensitive_color #d4cfca;
@define-color backdrop_selected_fg_color #fcfcfc;
@define-color backdrop_borders_color #d5d0cc;
@define-color backdrop_dark_fill #eae8e6;
@define-color suggested_bg_color #40bfff;
@define-color suggested_border_color rgba(32, 33, 38, 0.5);
@define-color progress_bg_color #40bfff;
@define-color progress_border_color rgba(45, 48, 61, 0.89);
@define-color checkradio_bg_color #eff0f9;
@define-color checkradio_fg_color #40bfff;
@define-color checkradio_borders_color rgba(45, 48, 61, 0.89);
@define-color switch_bg_color #40bfff;
@define-color switch_borders_color rgba(45, 48, 61, 0.80);
@define-color focus_border_color rgba(64, 191, 255, 0.5);
@define-color alt_focus_border_color rgba(233, 231, 225, 0.8);
@define-color dim_label_opacity 0.55;

/*button { color: #202126; outline-color: rgba(53, 132, 228, 0.5); border-color: #cdc7c2; background-image: linear-gradient(to top, #a1d2e6 2px, #a1d2e6); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }*/
/*button:hover { color: #202126; border-color: #cdc7c2; background-image: linear-gradient(to top, rgba(#, #, #, 0.89), rgba(#, #, #, 0.89) 1px); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32); }*/

button { color: #202126; outline-color: #40bfff; border-color: rgba(32, 33, 38, 0.38); background-image: image(#a1d2e6); box-shadow: none; text-shadow: none; }
button:hover { color: #202126; border-color: rgba(32, 33, 38, 0.46); background-image: image(rgba(161, 210, 230, 0.77)); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32); }

button:checked { color: #202126; border-color: rgba(32, 33, 38, 0.38); background-image: image(#40bfff); box-shadow: none; }
button:checked:hover { color: #202126; border-color: rgba(32, 33, 38, 0.46); background-image: image(rgba(64, 191, 255, 0.77)); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32); }
button:checked:active { color: #202126; border-color: rgba(32, 33, 38, 0.38); background-image: image(#40bfff); box-shadow: none; }

button:backdrop { color: #202126; border-color: rgba(32, 33, 38, 0.32); background-image: image(rgba(161, 210, 230, 0.89)); box-shadow: none; }
button:backdrop:active { color: #202126; border-color: rgba(32, 33, 38, 0.32); background-image: image(rgba(161, 210, 230, 0.89)); box-shadow: none; }
button:backdrop:insensitive { color: rgba(32, 33, 38, 0.70); border-color: rgba(32, 33, 38, 0.22); background-image: image(rgba(161, 210, 230, 0.40)); box-shadow: none; }
button:backdrop:insensitive:active { color: rgba(32, 33, 38, 0.89); border-color: rgba(32, 33, 38, 0.22); background-image: image(rgba(161, 210, 230, 0.49)); box-shadow: none; }

button:disabled { color: rgba(32, 33, 38, 0.80); border-color: rgba(32, 33, 38, 0.22); background-image: image(rgba(161, 210, 230, 0.50)); }
button:disabled:active { color: #202126; border-color: rgba(32, 33, 38, 0.22); background-image: image(rgba(64, 191, 255, 0.50)); box-shadow: none; }


checkradio { background-clip: padding-box; background-image: image(#eff0f9); border-color: rgba(45, 48, 61, 0.80); box-shadow: none; color: #40bfff; }
checkradio:hover { background-image: image(rgba(64, 191, 255, 0.22)); }
checkradio:active { box-shadow: inset 0 1px rgba(0, 0, 0, 0.2); background-image: image(#202126); }
checkradio:disabled { box-shadow: none; color: rgba(239, 240, 249, 0.50); }

checkradio:checked { background-clip: border-box; background-image: image(#40bfff); border-color: rgba(45, 48, 61, 0.80); box-shadow: none; color: #202126; }
checkradio:checked:hover { background-image: image(rgba(64, 191, 255, 0.89)); }
checkradio:checked:active { box-shadow: inset 0 1px rgba(0, 0, 0, 0.2); background-image: image(#40bfff); }
checkradio:checked:disabled { box-shadow: none; color: rgba(64, 191, 255, 0.7); }

/* vim: set ft=css:*/
